<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>
<br><br><br><br><br>
    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="http://static.pulzo.com/images/20171102171220/tipos-de-viajeros.jpg?itok=1517607776" class="img-fluid">
            </div>
            <div class="col-md-8 col-lg-4 col-xl-4 offset-xl-1">
           
              <form action="/ListarUsuario" method="post">
      
                  <div class="divider d-flex align-text-center my-4" >
                     <h1 class="text-center" fw-bold mx-3 mb-0> FORMULARIO USUARIOS</h1>     
                   
                </div>
               
                <div class="form-outline mb-2">
                <label for="inputEmail3" >Nombre</label>
            <input type="text" class="form-control" name="txtNombre" id="txtNombre" placeholder="Ingresar Nombre">
        <label for="inputEmail3">Correo</label>
        <input type="text" class="form-control" name="txtCorreo" id="txtCorreo" placeholder="Ingresar Correo">
        <label for="inputEmail3">Cedula</label>
        <input type="text" class="form-control" name="txtCedula" id="txtCedula" placeholder="Ingresar Cedula">
        <label for="inputEmail3">Telefono</label>
        <input type="text" class="form-control" name="txtTelefono" id="txtTelefono" placeholder="Ingresar Telefono">
                 
                  </div>
      
             
                    <div class="text-center text-lg-start mt-6 pt-4">
                 
                     <button type="submit" name="Enviar"  class="btn btn-primary btn-lg"
                                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Enviar</button>
                </div>
              </form>
      
      </section>
      
</body>

</html>



